<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org/DTD Mapper3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qos.db.MemberMapper">


<select id="login" resultType="mDTO" parameterType="mDTO">
	SELECT * FROM member
	<where>
		id = #{id} and pw = #{pw}
	</where>
</select>

<select id="idChk" resultType="boolean" parameterType="mDTO">
	SELECT * FROM member
	<where>
		id = #{id}
	</where>
</select>

<insert id="join" parameterType="mDTO">
	insert into member (id , pw , name , address1 , address2 , tel , reg_date , privacy_chk , terms_chk)
	values
	(#{id} , #{pw} , #{name} , #{address1}, #{address2} ,#{tel} ,sysdate() , #{privacy_chk} , #{terms_chk})
</insert>


	
</mapper>